In [1]:
import numpy as np
import yfinance as yf
from scipy.stats import norm
import pandas as pd
import datetime

def download_data(stock, startdate, enddate):
    data = {}
    ticker = yf.download(stock,start = startdate, end = enddate)
    data[stock] = ticker['Adj Close']
    return data

df = download_data('C','2014-01-01','2018-01-01')
stock_data = pd.DataFrame(df['C'])
stock_data

[*********************100%***********************]  1 of 1 completed

Ticker              C
Date
2014-01-02  39.978485
2014-01-03  40.842754
2014-01-06  41.156342
2014-01-07  41.439335
2014-01-08  41.921196
...               ...
2017-12-22  59.340660
2017-12-26  58.782562
2017-12-27  58.869019
2017-12-28  59.018379
2017-12-29  58.491734

[1007 rows x 1 columns]

In [29]:
# The value of risk is tomorrow
def monte_carlo_sim_var(S, mean, sigma, c,n, iterations):
    rand = np.random.normal(0,1,[1,iterations])
    stock_price = S*np.exp(n*(mean-0.5*sigma**2)+sigma*np.sqrt(n)*rand)
    stock_price = np.sort(stock_price)
    percentile = np.percentile(stock_price,(1-c)*100)
    return S - percentile

stock_data['returns'] = stock_data['C'].pct_change(1)
mean = stock_data['returns'].mean()
sigma = stock_data['returns'].std()
print(f'The value at risk using MS simulation is {monte_carlo_sim_var(1000000,mean,sigma,0.95,1,100000)}')

The value at risk using MS simulation is 24262.59925808187