In [106]:
import numpy as np
import yfinance as yf
from scipy.stats import norm
import pandas as pd
import datetime

def download_data(stock, startdate, enddate):
    data = {}
    ticker = yf.download(stock,start = startdate, end = enddate)
    data[stock] = ticker['Adj Close']
    return data

df = download_data('C','2014-01-01','2018-01-01')
stock_data = pd.DataFrame(df['C'])
stock_data

[*********************100%***********************]  1 of 1 completed

Ticker              C
Date
2014-01-02  39.978493
2014-01-03  40.842777
2014-01-06  41.156353
2014-01-07  41.439358
2014-01-08  41.921200
...               ...
2017-12-22  59.340660
2017-12-26  58.782547
2017-12-27  58.869034
2017-12-28  59.018383
2017-12-29  58.491714

[1007 rows x 1 columns]

In [120]:
# The value of risk is tomorrow
def calculate_var(position,c,mean,sigma):
    v = norm.ppf(1-c)
    var = position*(mean-(sigma*v))
    return var

# Log daily returns:
stock_data['Log returns'] = np.log(1+(stock_data['C'].pct_change(1)))
mean = stock_data['Log returns'].mean()
sigma = stock_data['Log returns'].std()
print(f'The value at risk is: {calculate_var(1000000,0.95,mean,sigma)}')

The value at risk is: 25409.15702268769